<% layout("layout/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br>
            <h2>Create new list</h2>
            <form method="post" action="/listing" class="needs-validation" novalidate enctype="multipart/form-data"><br>
                <div>
                    <label for="title" class="form-label">title</label>
                    <input placeholder="Write your title" name="title" class="form-control" required><br>
                    <div class="valid-feedback">
                        Looks Good !!
                    </div>
                    <div class="invalid-feedback">
                        Please enter a title.
                    </div>
                </div>
                <div>
                    <label for="description" class="form-label">description</label>
                    <textarea name="description" class="form-control" required></textarea><br>
                    <div class="invalid-feedback">
                        Please enter a description.
                    </div>
                </div>
                <div>
                    <label for="image" class="form-label">upload image image </label>
                    <input placeholder="Enter your image link" name="image" type="file" class="form-control"><br>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="price" class="form-label">price</label>
                        <input placeholder="Enter price" name="price" class="form-control" required><br>
                        <div class="invalid-feedback">
                            Please enter a price.
                        </div>
                    </div>
                    <div class="col-md-8">
                        <label for="country" class="form-label">country</label>
                        <input placeholder="Enter the country" name="country" class="form-control" required><br>
                    </div>
                </div>
                <div>
                    <label for="location" class="form-label">location</label>
                    <input placeholder="Enter location" name="location" class="form-control" required><br>
                </div>
                <button class="btn btn-dark add-btn">
                    new list
                </button>
            </form>
        </div>
    </div>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
</body>